<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Job recommendation</h1>
    <p>{{ job }}</p>
    
        <form action=https://flask--onelifefirebat.c9users.io/>
        <p></p>
        <p>if you want to go back. by this button</p>
        <input type="submit">
        
        </form>
    
</body>
</html>