<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>This is first step for full-stack</title>
        <style>
            .info{
                color:blue
            }
        </style>
        
    </head>
    
    <body>
        <h1 style="color:red; font-size=200%;">Infor about Movie Spider man new universe</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vhkCBOsOoYY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <h2 class="info">{{search_num}}</h2>
    </body>
</html>
